{{yield}}
<div class="text-center">

    {{#if playing}}

        <div class="float-left third">
            Player 1: <span class="yellow">Yellow</span>
        </div>
        <div class="float-right third">
            CPU: <span class="red">Red</span>
        </div>

        <button class="game" {{ action 'reset' }}>Reset</button>
        {{#if winner}}
          Player {{winner}} Has Won!
        {{/if}}

    {{else}}

    <button class="game" {{ action 'start' }}>Play Connect4</button>

    {{/if}}
    <canvas id="stage" width="420" height="380"></canvas>
</div>
