body {
    font-family: monospace;
    font-size: 12pt;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.third {
    width: 33%;
}
.text-center {
    text-align: center;
}
.game {
    border-radius: 10%;
    font-size: 2em;
    border:2px solid #ff0066;
    box-shadow: 0 0 1em #ff0066;
    background: black;
    color: white;
    margin-top:2em;
}

.game:hover {
    border:2px solid #0066ff;
    box-shadow: 0 0 1em #0066ff;
}


a {
    color: #ffffff;
}
/* Fixed layout for the application */
#app {
    max-width: 450px;
    background: #000000;
    border: 2px solid #0D3349;
}
/* Header styling */
header h1 {
    background: #0D3349;
    color: #ffffff;
    margin: 0;
    padding: 0.5rem;
    text-align: center;
}
header h1 a {
    text-decoration: none;
}
/* Main game area styling */
article {
    height: 600px;
    overflow: auto;
    color: #ffffff;
    padding: 0.5rem;
    position: relative;
}
article h2 {
    margin: 0;
}
/* Footer styling */
footer {
    background: #0D3349;
    color: #ffffff;
    font-size: 0.6rem;
    padding: 0.2rem 0.3rem;
}
footer:after {
    content: ' ';
    display: table;
    clear: both;
}

/* Game board */

span.red {
    color: red;
}
span.yellow {
    color: yellow;
}
